- @hide_top_links = true
- @hide_breadcrumbs = true
- page_title "新代码片段"

.page-title-holder
  %h1.page-title= _('New Snippet')

.prepend-top-default
  = render "shared/snippets/form", url: snippets_path(@snippet)
